/* prod-detail-header */
.container-wrapper {
  width: 100%;
  overflow: hidden;
}
.contents-wrap {
  padding-top: 5rem;
}
.prod-detail-header {
  position: relative;
}
.header-contents-inner {
  width: 980px;
  margin: 0 auto;
}
.prod-detail-contents {
  width: 100%;
  overflow: hidden;
}
.prod-detail-contents-inner {
  width: 980px;
}
.prod-detail-title-wrap {
  margin-bottom: 5rem;
}
.prod-title-box {
  font-size: 2rem;
}
.prod-detail-view-wrap {
  width: 100%;
  height: 100%;
}
.prod-detail-view-area {
  display: flex;
  justify-content: space-between;
}
.col-prod-info {
  width: 100%;
}
.portrait-img-box {
  width: 360px;
  box-shadow: 0 20px 60px rgb(0 0 0 / 12%);
}
.portrait-img-box img {
  width: 100%;
}
.prod-info-wrap {
  padding-top: 3rem;
  box-sizing: border-box;
}
.prod-info-text {
  font-size: 15px;
}
.prod-author-box {
  margin-bottom: 5px;
}
.prod-author-box .author {
  font-size: 16px;
  font-weight: bold;
  color: rgb(55, 55, 55);
  margin-bottom: 5px;
}
.publish-date {
  color: #7b7b7b;
  margin-bottom: 20px;
}
.prod-best-box {
  margin-bottom: 20px;
  font-weight: bold;
}
.btn-publish-link {
  position: relative;
  margin-right: 10px;
}
.btn-publish-link:hover {
  border-bottom: 1px solid #b1b1b1;
}
.btn-publish-link::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  right: -6px;
  bottom: 10px;
  background: #b1b1b1;
}
.best-ranking {
  color: #6b6b6b;
  font-size: 14px;
  margin-left: 10px;
}
.btn-xxs {
  font-size: 13px;
  border: 1px solid #8f8e8e;
  border-radius: 4px;
  padding: 0.1rem 0.35rem;
  box-sizing: border-box;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.4s;
}
.btn-xxs:hover {
  background: #ededed;
  transition: 0.4s;
}
.prod-price-wrap {
  padding-top: 3rem;
  text-align: right;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}
.prod-guide-wrap {
  text-align: right;
}
.prod-guide-box {
  padding-left: 2rem;
}
.prod-guide-row {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}
.prod-guide-title {
  float: left;
  font-weight: bold;
}
.prod-price {
  font-size: 1.3rem;
}
.percent {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
  color: rgb(0, 129, 60);
}
.val {
  font-size: 1.7rem;
  margin-right: 10px;
  font-weight: bold;
}
.val-origin {
  font-size: 16px;
  color: rgb(61, 61, 61);
}
.delivery-guide-text {
  margin-bottom: 10px;
}
#OrderDeliveryType {
  font-size: 15px;
}
#OrderEstimatedDate {
  font-weight: bold;
}
/* prod-detail-body */
.prod-detail-body {
  width: 100%;
}
.tab-list-wrap {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: relative;
  margin-top: 8rem;
  border-bottom: 1px solid #444;
}
.tab-list-inner {
  width: 100%;
}
.list-inner {
  width: 980px;
  margin: 0 auto;
}
.tabs {
  width: 37%;
  display: flex;
  justify-content: space-between;
}
.tab-item {
  color: #444;
  font-size: 18px;
  transition: 0.4s;
}
.tab-item:hover {
  font-weight: bold;
  transform: scale(1.04);
  transition: 0.4s;
}
.prod-detail-contents {
  width: 100%;
}
.prod-detail-contents-inner {
  width: 980px;
  margin: 0 auto;
}
.prod-detail-area {
  width: 100%;
  margin-top: 4rem;
}
.detail-img .inner {
  width: 100%;
  overflow: hidden;
}
.detail-img .inner img {
  border-radius: 30px;
}
.title-wrap.title-size-md {
  padding-bottom: 20px;
}
.title-size-md .title-heading {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  font-weight: bold;
}
.title-size-sm .title-heading {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 15px;
}
.book-intro .intro-book {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
}
.intro-category-link {
  margin-right: 5px;
  color: #444;
}
.intro-category-link:hover {
  border-bottom: 1px solid #787878;
}
.arw-category {
  margin-right: 5px;
  color: #767676;
}
.book-intro .intro-award {
  padding: 30px 0;
  border-bottom: 1px solid #eaeaea;
}
.text-award-list .text-award-item {
  margin-bottom: 5px;
}
.intro-bottom {
  padding-top: 30px;
}
.intro-bottom .info-text {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.01em;
}
.intro-bottom .fw-bold {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.info-text + .info-text {
  margin-top: 16px;
  font-size: 16px;
}
.product-trailer {
  width: 100%;
}
.video-wrap {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding-top: 56.25%;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bul-list {
  margin-top: 25px;
}
.bul-item-dot.font-size-xxs {
  position: relative;
  font-size: 14px;
  color: #313131;
  padding-left: 8px;
  margin-bottom: 5px;
}
.bul-item-dot.font-size-xxs::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  left: 0;
  top: 8px;
  border-radius: 50%;
  background: #989898;
}
.gray-box {
  display: block;
  padding: 36px 30px 40px;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  margin-bottom: 1.3rem;
}
.title-size-def {
  padding-bottom: 20px;
}
.title-size-def .title-heading {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
.title-wrap .title-heading .title-prefix {
  display: inline-block;
  color: #595959;
  margin-right: 3px;
  font-weight: 400;
}
.title-size-def .title-heading .text {
  font-weight: bold;
  color: #000;
  margin-left: 5px;
}
.product-person .writer-info-box {
  display: flex;
  margin-top: 14px;
}
.product-person .writer-info-box.open {
  height: 350px;
  overflow: hidden;
}
.writer-info-box .writer-profile {
  flex: 0 0 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 16px;
  text-align: center;
}
.btn-more-body .text.open::after {
  content: "펼치기";
}
.btn-more-body .text.close::after {
  content: "접기";
}
.auto-overflow-contents {
  height: 300px;
  overflow: hidden;
}
.book-contents-list.open {
  height: 300px;
  overflow: hidden;
}
.book-contents-item {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #222222;
}
.prod-detail-area.book-contents {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 70px;
}
.book-recommend {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 70px;
}
.recommend-list.open {
  height: 300px;
  overflow: hidden;
}
.book-recommend .recommend-item .title-heading {
  color: rgb(64, 50, 145);
}
.book-inside {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 70px;
}
.title-wrap.title-size-sm {
  min-height: 24px;
  padding-bottom: 5px;
}
.title-wrap.title-size-sm .title-heading {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.01em;
  margin-top: 1rem;
}
.product-detail-area .info-text {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.01em;
}
.info-text.open {
  height: 300px;
  overflow: hidden;
}
.book-publish-review {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 70px;
}
.tbl-row-wrap {
  display: block;
  width: 100%;
  padding: 18px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}
.basic-info-list {
  width: 100%;
  font-size: 15px;
}
.basic-info-item {
  display: flex;
  margin-bottom: 1rem;
}
.info-item-title {
  width: 150px;
  font-weight: bold;
}
.info-item-text {
  color: #444;
}
.claim-info-wrap {
  margin-top: 5rem;
}
.product-detail-area.claim-info-wrap
  .claim-info
  .claim-info-list
  .claim-info-item:first-child {
  border-top: 1px solid #000;
}
.product-detail-area.claim-info-wrap
  .claim-info
  .claim-info-list
  .claim-info-item {
  padding: 30px 0;
  border-bottom: 1px solid #eaeaea;
}
.product-detail-area.claim-info-wrap
  .claim-info
  .claim-info-list
  .claim-info-item:last-child {
  border-bottom: 0;
}
.info-text-box {
  display: block;
  padding: 18px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
.info-text-box.size-lg {
  padding: 24px;
}
.prod-detail-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 980px;
  background-color: #fff;
  z-index: 102;
}
.prod-detail-footer .prod-purchase-info-wrap {
  height: 94px;
  border-top: 1px solid #444;
}
.prod-detail-footer .footer-contents-inner {
  width: 980px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
.prod-detail-footer .prod-info-title {
  display: inline-block;
  margin: 7px 30px 0 0;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.01em;
  vertical-align: top;
}
.prod-detail-footer .prod-info-price {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}
.prod-detail-footer .footer-contents-inner .right-area {
  width: 100%;
}
.prod-detail-footer .btn-wrap {
  display: inline-block;
  font-size: 0;
}
.prod-detail-footer .btn-wrap button {
  cursor: pointer;
  transition: 0.4s;
}
.prod-detail-footer .btn-wrap button:hover {
  color: #fff;
  background: #000;
  transition: 0.4s;
}
.btn-wish.size-lg {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: none;
  border: 1px solid #444;
  font-family: "Gowun Batang";
  font-weight: bold;
}
.prod-detail-footer .btn-wrap {
  margin-left: 6px;
  display: inline-block;
}
.btn-lg {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border: 1px solid #444;
  background: none;
  font-family: "Gowun Batang";
  font-weight: bold;
  margin-right: 10px;
}
.right-area .btn-primary {
  border-radius: 0;
  transition: 0.4s;
}
.btn-primary:hover {
  color: #fff;
  background: #000;
  transition: 0.4s;
}
