#Header {
  position: relative;
  width: 100%;
  height: 180px;
  background: #fff;
  border-bottom: 1px solid #444;
}

.HeaderInner {
  width: 980px;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 200px;
  margin: 0 auto;
}

.Header_top {
  height: 70px;
  line-height: 70px;
  display: flex;
}

.HeaderText {
  font-size: 15px;
  width: 50%;
}

.HeaderText .en {
  margin-right: 10px;
}

.Header_bot {
  width: 100%;
  height: 110px;
  display: flex;
  line-height: 110px;
}

.loginMenu {
  width: 100%;
  height: 100%;
}

.loginMenu_list {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  float: right;
}

.logo {
  width: 20%;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 1.5rem;
  color: #000;
}

.logoIcon {
  opacity: 0.3;
}

.searchBar {
  width: 60%;
  display: flex;
  align-items: center;
}

#HeaderSearchBar {
  width: 80%;
  height: 50px;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #444;
  box-sizing: border-box;
  border-radius: 12px;
}

#HeaderSearchBar:focus {
  outline: none;
}

#HeaderSearchBtn {
  height: 25px;
  width: 25px;
  border-radius: 12px;
  margin-left: -45px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-family: "Gowun Batang";
  transition: 0.3s;
}

#HeaderSearchBtn:hover {
  font-weight: bold;
  transition: 0.3s;
}

.menu {
  width: 20%;
}

.menu_list {
  display: flex;
  justify-content: space-around;
}

.menu_list_item {
  position: relative;
  transition: 0.4s;
}

.menu_list_item:hover {
  transform: scale(1.07);
  font-weight: bold;
  transition: 0.3s;
}

/* 반응형 */

@media screen and (max-width: 1023px) {
  .HeaderInner {
    width: 800px;
  }
  .HeaderText {
    font-size: 14px;
  }
  .loginMenu {
    font-size: 15px;
  }
  .HeaderLogo {
    font-size: 1.9rem;
  }
  #HeaderSearchBar {
    width: 300px;
    height: 35px;
    border-radius: 8px;
    padding-left: 10px;
  }
  #HeaderSearchBtn {
    width: 8px;
    margin-left: -35px;
  }
  .Header_menu {
    font-size: 15px;
  }
}

@media screen and (max-width: 850px) {
  #Header {
    height: 150px;
  }
  .HeaderInner {
    width: 600px;
  }
  .Header_top {
    height: 60px;
    line-height: 60px;
  }
  .Header_bot {
    height: 80px;
    line-height: 80px;
  }
  .HeaderText {
    width: 80%;
    font-size: 13px;
  }
  .loginMenu {
    font-size: 14px;
  }
  .loginMenu_list {
    width: 45%;
  }
  .HeaderLogo {
    font-size: 1.6rem;
  }
  #HeaderSearchBar {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 8px;
  }
  #HeaderSearchBtn {
    width: 5px;
    margin-left: -35px;
  }
  .Header_menu {
    width: 40%;
    font-size: 14px;
  }
}

@media screen and (max-width: 630px) {
  #Header {
    height: 90px;
  }
  .HeaderInner {
    width: 350px;
    line-height: 130px;
  }
  .Header_top {
    height: 40px;
    line-height: 40px;
  }
  .Header_bot {
    height: 50px;
    line-height: 50px;
  }
  .HeaderText {
    display: none;
  }
  .loginMenu {
    font-size: 12px;
  }
  .loginMenu_list {
    width: 40%;
  }
  .HeaderLogo {
    font-size: 1.2rem;
  }
  #HeaderSearchBar {
    display: none;
  }
  #HeaderSearchBtn {
    display: none;
  }
  .Header_menu {
    width: 85%;
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  #Header {
    height: 90px;
  }
  .HeaderInner {
    width: 300px;
    line-height: 130px;
  }
}
