#JoinDetail {
  width: 100%;
  height: 100%;
}
.JoinDetailWrap {
  width: 600px;
  margin: 6rem auto 6rem;
}
#user-info-form {
  width: 100%;
  margin-top: 2rem;
}
.enter-info-list {
  width: 100%;
  margin-top: 2rem;
}
.enter-info-item {
  position: relative;
  margin-bottom: 0.3rem;
}
#profile-info-item,
.mobile-info-item,
#gender-info-item {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.input-box {
  display: flex;
  align-items: center;
}
.input-name {
  width: 20%;
  margin-bottom: -10px;
}
.info-form-input {
  width: 30%;
  height: 30px;
  padding-left: 10px;
  margin-top: 10px;
  font-size: 15px;
}
#enter-profileImage-input {
  width: 91px;
  height: 100px;
  border-radius: 100%;
  border: none;
  background-image: url(../images/img_no_profile@2x.png);
  background-size: contain;
  cursor: pointer;
}
.profile-setting-ic {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 75px;
  right: 370px;
}
.message {
  display: inline-block;
  font-size: 14px;
  margin-left: 123px;
  margin-top: 5px;
  color: #5a5a5a;
}
.mobile-info-item .input-name {
  width: 20%;
}
.mobile-info-item .info-form-input {
  margin-right: 20px;
  width: 40px;
}
.info-form-input.first-num-input {
  height: 34px;
  width: 60px;
}
#genderLabel {
  margin-right: 15px;
  margin-top: -13px;
}
#genderBtn {
  margin-top: -3px;
}
#genderFieldset {
  margin-top: 10px;
}
#genderLabel {
  display: flex;
  align-items: center;
}
[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
  border: 2px solid rgb(15, 15, 105);
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: 2px dotted rgb(15, 15, 105);
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}
fieldset {
  display: flex;
  justify-content: center;
  border: none;
  margin: 0;
}
.year-select-box select {
  height: 35px;
  margin-left: 10px;
  padding-left: 5px;
}
.year-select-box select:first-child {
  margin-left: 0;
}
#popup-close-btn {
  padding: 0.2rem 0.55rem;
  border: 1px solid #c2c2c2;
  background: none;
  font-size: 1.4rem;
  color: #c2c2c2;
  float: right;
}
.address-input-box {
  display: flex;
  margin: 1rem 0;
}
.addressTit {
  display: inline-block;
  width: 20%;
}
.address-input {
  margin-bottom: 13px;
  margin-left: 1rem;
}
.user-address-input {
  height: 20px;
  width: 270px;
  margin: 0.3em 10px 0 0.3em;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-color: #dbdbdb #d2d2d2 #d0d0d0 #d2d2d3;
  box-shadow: inset 0.1em 0.1em 0.15em rgb(0 0 0 / 10%);
  vertical-align: middle;
  line-height: 1.25em;
  outline: 0;
  font-size: 0.8rem;
}
.user-address-input:first-child {
  width: 60px;
}
.ads-btn {
  width: 100px;
  height: 20px;
  height: 38px;
  line-height: 25px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-color: #dbdbdb #d2d2d2 #b2b2b2 #d2d2d3;
  cursor: pointer;
  color: #464646;
  border-radius: 0.2em;
  vertical-align: middle;
}
.ads-btn:hover {
  color: #464646;
  text-decoration: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#e5e5e5)
  );
}
.additory-info ul {
  display: flex;
}
.additory-info ul li:first-child {
  width: 20%;
}
.year-select-box {
  margin-top: 10px;
}
.birth-check {
  margin-right: 10px;
}
.birth-check-sel {
  height: 35px;
  width: 80px;
  margin-right: 10px;
}
.terms {
  margin-top: 2.5rem;
  padding-top: 1rem;
  border-top: 1px solid #e7e7e7;
}
.terms input {
  margin-right: 10px;
}
#memberJoinBtn {
  margin-top: 3rem;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  padding: 1rem 1.3rem;
}
.memberJoinBtn-txt {
  font-size: 1.4rem;
}
#memberJoinBtn:hover {
  color: #fff;
  background: #000;
}
