.registation-wrap {
  width: 980px;
  margin: 0 auto;
  padding: 5rem 0rem 5rem;
  box-sizing: border-box;
}
.title {
  font-size: 2rem;
}
.bookInfo-item {
  position: relative;
  display: inline-block;
}
.registation-btn-box {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.resiBtn {
  border: 1px solid #444;
  padding: 3.5rem 4.5rem;
  font-size: 1.3rem;
}
.resiBtn:hover {
  background: #000;
  color: #fff;
}
.authorName-btn {
  padding: 0.25rem;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #c6c6c6;
  cursor: pointer;
}
.authorName-btn:hover {
  background: #f1f1f1;
}
#authorName {
  position: relative;
}
#authorName-pick-btn {
  position: absolute;
  top: 0;
  left: 26.6%;
}
.registerAuthor-item {
  margin: 10px 0;
}
.registerAuthor-item label {
  font-size: 15px;
  display: inline-block;
}
.registerAuthor-item textarea {
  margin-top: 10px;
}
#registerAuthorBirth {
  padding: 4px 10px;
  border-radius: 7px;
}
#authorRegisterBtn {
  border: 1px solid #e7e7e7;
  background: none;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
}
#authorRegisterBtn:hover {
  background: rgb(240, 240, 240);
}
#authorSearchInput {
  padding: 15px 10px;
  margin-right: 10px;
}
#authorSearchBtn {
  padding: 5px 15px;
  border-radius: 7px;
  background: none;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}
#authorSearchBtn:hover {
  background: rgb(240, 240, 240);
}
