.registationBook-wrap {
  width: 980px;
  margin: 0 auto;
  padding-top: 3rem;
  box-sizing: border-box;
}
#registationBook-form {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
}
.bookInfo-item {
  margin-top: 1rem;
  display: flex;
}
.bookInfo-item label {
  width: 100px;
  margin-right: 10px;
}
.bookInfo-item input {
  height: 25px;
}
.bookInfo-item textarea {
  width: 100%;
  height: 350px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  font-size: 17px;
  padding: 5px;
  box-sizing: border-box;
}
#formBtn {
  margin-top: 4rem;
  background: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
#formBtn:hover {
  background: #000;
  color: #fff;
}
