.registationBook-wrap {
  width: 980px;
  margin: 0 auto;
  padding-top: 3rem;
  box-sizing: border-box;
}
#registationBook-form {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
}
.bookInfo-item {
  margin-top: 1rem;
  display: flex;
}
.bookInfo-item label {
  width: 100px;
  margin-right: 10px;
}
.bookInfo-item input {
  height: 25px;
}
.bookInfo-item textarea {
  border: 1px solid #c6c6c6;
  border-radius: 8px;
}
#formBtn {
  margin-top: 4rem;
  background: #fff;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
#formBtn:hover {
  color: #fff;
  background: #000;
}
