.registation-wrap {
  width: 980px;
  margin: 0 auto;
  padding: 5rem 0rem 5rem;
  box-sizing: border-box;
}
.title {
  font-size: 2rem;
}
.registation-btn-box {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.resiBtn {
  border: 1px solid #444;
  padding: 3.5rem 4.5rem;
  font-size: 1.3rem;
}
.resiBtn:hover {
  background: #000;
  color: #fff;
}
